<div class="container">
    <br>
    <br/>
    <br/>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>description</th>
            <th>name</th>
            <th>price</th>
          </tr>
           <tr *ngFor="let item of dataSource">
            <th>{{ item.description }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
                <button type="button" >Delete</button>
            </td>
        </tbody>
      </table>
    </div>